#figuras {
    list-style: none;
}


.arriba {
transform: scale(1.2);
}

.abajo {
transform: scale(0.8);
}
.borde{
border: 1px solid red;
}

#infoRegion{
    width: 25%;
    height: 50%;
    position: absolute;
    
}


h5{
    text-decoration: underline;
}

#atractivos{
    font-weight: 600;
}

#formulario{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#divForm{
    display: flex;
    justify-content: center;
    width: 100%;
}

